/* styles.css */
.container {
    position: relative;
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 2rem;
    margin: 1rem;
    border-radius: .5rem;
    font-family: Arial, sans-serif;
    max-width: max-content;
    min-width: 500px;
    min-height: 150px;
    align-content: center;
  }

  .waiting-screen, .success-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  .step-indicator {
    position: absolute;
    top: .5rem;
    left: .5rem;
  }
  
  .button-group {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
  }
  
  .button-group button {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
  
  .button-group button:last-child {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
  }
  